<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myviewpager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.telephony"/>
    <uses-feature android:name="android.hardware.telephony.cdma"/>
    <uses-feature android:name="android.hardware.telephony.gsm"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".MyApplication"
        >
        <activity
            android:name="com.example.myviewpager.MainActivity"
            android:label="@string/app_name" >
            
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
           <activity
            android:name=".StartLockScreen"
            android:theme="@style/Theme.Transparent" >
       </activity>

        <service android:name=".MyService" >
        </service>

        <receiver
            android:enabled="true"
            android:name="receiver.LockScreenReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>
    </application>
    
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

</manifest>
